*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

/* navbar start */

.navbar{
    font-family: 'Poppins', sans-serif;
    font: regular;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding : 18px 120px;
    width : 100vw;
    position: fixed;
}

.navbar-nav{
    width:450px;
}

.nav-item{
    margin: 0 15px;
}

.nav-item.active{
    color : #D3D3D3 !important;
}

.nav-link{
    color:white;
    padding: 0 30px;
}

ul.nav a:hover{
    color : #D3D3D3 !important;
}



/* navbar end  */

/* content start*/
.content{
    margin : 0px;
    padding : 54px 0px;
}


/* home page start */
.landing-page{
    width:100vw;
    height:91vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
}

.landing-left-div{
    background-color: black;
    height :100%;
}

.landingpage-img{
    width :75%;
    height : 90%;
    position: relative;
    top:76px;
    left:200px;
}

.landing-right-div{
    height : 100%;
    padding : 300px 0px 300px 105px;
}

.landingpage-right-content{
    width : 600px;
}

.landing-right-div h1{
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.icons{
    text-align: center;
    margin: 50px 0;
}

.icon{
    font-size:25px;
    color: black;
    margin :15px 35px;
}

.icon:hover{
    color : #D3D3D3;
}

/* bottom content in contact page */
.bottom-content{
    margin-bottom: 65px;
}


/* footer start  */
footer{
    overflow-x: hidden;
    position : fixed;
    bottom : 0px;
    width : 100%;
    text-align: center;
    background-color: black;
    padding : 8px 0;
    margin: 0;
}

footer .icon{
    color: white;
    font-size: 20px;
}